/*----VIDEOJS----*/
.vjs-button:hover {
  color: #ff9900;
}

.video-js .vjs-play-progress:before,
.video-js .vjs-volume-level:before,
.vjs-icon-circle:before {
  color: #ff9900;
}

.video-js .vjs-play-progress {
  background-color: #ff9900!important;
}

.video-js .vjs-volume-level {
  background-color: #ff9900!important;
}

.vjs-big-play-button:hover{
    color: #ff9900;
}

.video-js .vjs-load-progress div {
  background: rgba(184, 193, 207, .75)!important;
}
/*----Screen_Chart(bottom-right-progressbar)----*/
#Screen_Chart svg path:first-child, #Screen_Chart .progressbar-text{ /*circle*/
	stroke: #000000;
}


/*----Menu text color hover, progresscircle color-----s*/
#Menu_Side_Content li:hover, #Menu_Side_Content li:hover:before , #Screen_Chart svg path:nth-child(2),.spanchart svg path:nth-child(2) {
	color: #ff9900;
	stroke: #ff9900;
}

/*----circles in TOC normal color-----*/
.spanchart svg path:first-child{
	stroke: rgb(204, 204, 204);
}
/*----Menu_Charts(menu progressbars)----*/
#Menu_Side_Content li { /*Menu text color*/
	color: rgb(204, 204, 204);
}

/*Menu Headline background color*/
#Menu_Side_Content > nav > h2 {
	background-color: #ff9900;
}
/*Menu Headline text color*/
#Menu_Side_Content nav h2{
	color: #FFFFFF;
}
/*Info-Overlay-Close (X)*/
#Info_Closer:after {
  color: #000000;
}
#Info_Closer:hover:after {
	color: #ff9900;
}
/*GUI elements mouse over*/
#smar_GUI *:hover{
	color: #ff9900;
	border-color: #ff9900;
}
#smar_GUI *:hover:before{
	color: #ff9900;
	border-color: #ff9900;
}

#smar_mainElements *{
	border: #000000 0.08rem solid;
}
.reveal h2{
  color: #ff9900;
}

#startbutton{
	background-color:#ff9900;
}
.q3_drags:hover{
	color:#ff9900;
}
/*grey field around mcq/scq answers*/
.mc-answer:hover, .sc-answer:hover{
	background-color: rgba(160, 160, 160, 0.4);
}
.reveal .feedbacks {
  background-color: #ffffff;
}