/*Font definitions goes here*/
body{
	font-family: PatrickHand!important;
	font-weight: 300;
}
.reveal h1{
	font-family: PatrickHand!important;
}
.reveal h2{
	font-family: PatrickHand;
	font-weight: 200;
	line-height: 1.4;
}
.reveal div{
	font-family: PatrickHand;
	font-weight: 200;
}


/*All your random stuff goes here*/
#progress-bar {
	display: none;
	position: absolute;
	font-size: 0;
	line-height: 0px;
	width: 100%;	
	height: 100%;
	left: 0;
	top: 0;
}

#progress-bar > div {
	position: absolute;
	top: 95%;
	height: 100%;
	width: 100%;
}

.reveal div.dott {
	height: 1.8%;
	width: 1%;
	background-color: #9d9d9c;
	display: inline-block;
	margin: 0 5% 0 0;
	border-radius: 50%;
	position: relative;
}

.reveal div.dott:last-of-type {
	margin: 0;
}
.reveal div.dott.done {
	background-color: #0079db;
}

#dev_slides{
	z-index: 6;
}

#startbutton{
	position: absolute;
	opacity: 0.8;
}

#startbutton:hover{
	opacity: 1;
}
#startbutton:active{
	opacity: 1;
	transform: scale(0.98);
}

section{
	height: inherit;
	position: absolute!important;
	transform-origin: 0 0 0;
}

.clickable{
	cursor: pointer;
}

/*Changing MC Buttons / SC Buttons goes here*/
.mc-answer, .sc-answer{
	list-style-type: none;
	margin-top: 4%!important;
}

.mc-answer div:nth-child(1), .sc-answer div:nth-child(1){
	position: absolute;
}
.mc-answer div:nth-child(2), .sc-answer div:nth-child(2){
	position: relative;
	word-wrap: break-word;
	margin-left: 20%;
}

.mc-answer, .sc-answer{
	cursor: pointer;
}

.mcq-button, .scq-button{
	background-size: 100% 100%;
	background-repeat: none;
	width: 16%;
	height: 19%;
}

.mcq-button-up{
	background-image:url('../media/imgs/Buttons/check_button_up.svg');
}
.mcq-button-over{
	background-image:url('../media/imgs/Buttons/check_button_over.svg');
}
.mcq-button-down{
	background-image:url('../media/imgs/Buttons/check_button_down.svg');
	transform: scale(0.90);
}
.mcq-button-clicked{
	background-image:url('../media/imgs/Buttons/check_button_clicked.svg');
}

.scq-button-up{
	background-image:url('../media/imgs/Buttons/radio_button_up.svg');
}
.scq-button-over{
	background-image:url('../media/imgs/Buttons/radio_button_over.svg');
}
.scq-button-down{
	background-image:url('../media/imgs/Buttons/radio_button_down.svg');
	transform: scale(0.90);
}
.scq-button-clicked{
	background-image:url('../media/imgs/Buttons/radio_button_clicked.svg');
}

.reveal .feedbacks {
	z-index: 5;
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	text-align: center;
	position: absolute;
	display: none;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

.si_Submit, .si_Reset{
  height: 10%;
  width: 14%;
  position: absolute;
}

div.normal {
	position: absolute;
}

div.normal p {
		position: relative;		
		margin-bottom: 1.5%!important;
    width: 50%;
    z-index: 3!important;
		line-height: 1.4!important;
}

@keyframes swingBottom {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.15);
	}
	100% {
		animation-timing-function: ease-in;
		transform: scale(1);
	}
}


/*Overrides for reveal JS!!! Dont edit. Only if necessary.*/

body{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
}

.reveal h2{
text-transform: none;

}
.reveal h1{
	text-transform: none!important;
	margin: 0!important;
}

ul{
margin-left:0!important;
}

.reveal video{
max-height: 100%!important;
min-width: 100%!important;
max-width: 100%!important;
max-height: 100%!important;
}

.slides{
	/* border: 2px black solid!important; */
	/* overflow: hidden!important; */
	background-color: #ffffff;
	overflow: hidden!important;
}
.reveal img, .reveal iframe{
	max-width: 100%!important;
	max-height: 100%!important;
}

.reveal .slides > section{
padding: 0;
}

.reveal ul{
	display: block;
	position: absolute;
	margin: 0;
}

.reveal .controls button{
	visibility: visible!important;
	opacity: 1;
	color: #000000;
	transition: none!important;
}
.reveal .controls{
	position: absolute;
	left: 0;
	top: 0;
}
.reveal p{
	margin: 0!important;
	position: absolute;
	/* line-height: 1.4; */
}
.reveal section img{
	margin: 0;
}
.reveal h1{
	text-align: left;
	text-transform: none;
}

img{
	background: transparent!important;
	border: none!important;
	box-shadow: none!important;
	/* max-width: 25%!important; */
}

.nav_elements{
	display: none;
}

/*Feedback CSS*/

.head-rl{
	animation: headRL 6.25s infinite ease;
	transform-origin: bottom center;
}

.head-lr{
	animation: headLR 6.25s infinite ease;
	transform-origin: bottom center;
}

.arm-rdu{
	animation: armRDU 6.25s infinite ease;
	transform-origin: right center;
}

.arm-ldu{
	animation: armLDU 6.25s infinite ease;
	transform-origin: top left;
}


@keyframes headRL {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(5deg);
	}
	100% {
		animation-timing-function: ease-in;
		transform: scale(1) rotate(0deg);
	}
}
@keyframes headLR {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-5deg);
	}
	100% {
		animation-timing-function: ease-in;
		transform: rotate(0deg);
	}
}

@keyframes armRDU {
	0% {
		transform: scale(1) translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(5px) rotate(1deg);
	}
	100% {
		animation-timing-function: ease-in;
		transform: translateY(0px) scale(1) rotate(0deg);
	}
}

@keyframes armLDU {
	0% {
		transform: scale(1) translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(5px) rotate(5deg);
	}
	100% {
		animation-timing-function: ease-in;
		transform: translateY(0px) scale(1) rotate(0deg);
	}
}


/* disable hover when info overlay opens */
.cursorDisabled{
    pointer-events: none;
}