
/*-----------------Chart-Elemente------------------*/
#Screen_Chart{
	position: absolute;
	z-index: 10;
}

#Screen_Chart svg{
	height: 100%!important;
	overflow: visible;
	position: absolute;
	left: 43%;
	bottom: 15%;
}

#Screen_Chart svg path:first-child{
	stroke-width: 6;
}

#Screen_Chart svg path:nth-child(2){
	stroke-width: 12!important;
}

#Screen_Chart .progressbar-text{
	position: absolute;
  top: 0%;
  left: -5%;
  padding: 0px;
	margin: 2%;
}

.spanchart svg{
	height: 100%;
	width: 60%;
}

.spanchart{
	position: relative;
	float:right;
	width: 15%;
}

.spanchart svg path:first-child{
	stroke-width: 4;
}

.spanchart svg path:nth-child(2){
	stroke-width: 6;
}

/*-----------------TOC-Elemente------------------*/
#Menu_Side {
	color: white;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 999;
	-webkit-font-smoothing: antialiased;
	width: 50%;
	pointer-events: all;
}

#Menu_Side_Content ul {
  height: 70%;
  width: 97%;
	left: 0;
  margin: 0;
}
#Menu_Side_Content li {
	padding-top: 2%;
	padding-left: 2%;
	padding-bottom: 5%;
}

#Menu_Side_Content > nav > h2 {
  padding-top: 15%;
  padding-bottom: 15%;
	margin: 0;
}

#Menu_Side_Content nav h2{
	position: relative;
	height: 40%;
}
	
#Menu_Overlay{
	background-color: rgba(123,123,123,0.1);
	width: 410%;
	cursor: pointer;
	display: none;
}

#Menu_Side_Content > nav > h2 {
	text-align: center;
}

#Menu_Side_Content {
	position: absolute;
	width: 37%;
	height: 100%;
	background-color: white;
	box-shadow: 2px 0px 5px #333;
	overflow: hidden;
	z-index: 10;
}

#Menu_Side_Content ul {
	color: black;
	list-style: none;
	background-color: white;
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
	text-align: left;
	padding-left: 5%;
	padding-top: 0%;
}

#Menu_Side_Content li {
	cursor: pointer;
}
#Menu_Side_Content li p{
	width: 70%;
  display: inline-block;
  margin: 0;
	position: relative;
}


/*------------------Side_Menu Fonts/Stuff------------------*/



.Menu_Nav:before {
	font-family: interactiveFont;
	position: relative;
	padding-right: 5%;
	vertical-align: top;
	float: left;
}

.Nav_Quiz:before {
	content: "N";
}

.Nav_Video:before {
	content: "M";
}

.Nav_DnD:before {
	content: "L";
}

.Menu_Hr_Line {
	width: 100%;
	background-color: #CCC;
	height: 2px;
	margin: auto;
}

.helpboxhidden {
	left: -50%;
	opacity: 0;
	display: none;
	transition: all 4s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	z-index: 120;
}

.helpboxshown {
	left: 0%;
	opacity: 1;
	display: block;
	transition: all 4s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	z-index: 120;
}

/*IE fixes*/
@media screen and (min-width:0\0) and (min-resolution:.001dpcm) {
	/*IE9 Only*/
	.spanchart svg{
		width: 100%;
		height: 25px;
	}
	.spanchart{
		right: 5%;
	}
	#Menu_Overlay{
		cursor: pointer;
		width: 410%;
		height: 100%;
		background-image: url('../media/imgs/_imgs/IE9hack.svg');
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	.ie9hack-menu{
		z-index: 1;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
	.spanchart svg{
		width: 100%;
		height: 25px;
	}

	#Menu_Chart_Big {
		left: 15%!important;
	}

	#Menu_Chart_Big span{
		left:38%!important;
	}

	#Menu_Chart_Big svg{
		left: -47%!important;
		top: -10%;
		position: absolute;
	}
}