@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
	background-color: white;
	border: none;
	outline: none;
}

.vjs-text-track-display div div{
	top: 85%!important;
	position: relative!important;
}

.video-js.vjs-default-skin.vjs-paused .vjs-big-play-button {
	display: block !important;
	font-size: 2em;
}

iframe {
	overflow: hidden;
}

.video-js {
	background-color: white;
	outline: 0 !important;
	font-size: 10px;
	overflow: hidden;
}

video div {
	font-size: 10px;
}

.vjs-poster {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	background-color: white;
	outline: 0 !important;
}

.vjs-menu li.vjs-selected,
.vjs-menu li.vjs-selected:focus,
.vjs-menu li.vjs-selected:hover {
	background-color: lightgray;
}

.vjs-resolution-button {
	color: #fff;
}

.video-js .vjs-big-play-button {
	background-color: rgba(255, 153, 0, .0);
}

.video-js .vjs-progress-control {
	cursor: default;
}

:focus {
	outline: none !important;
}

.video-js {
	color: black;
}

.video-js .vjs-big-play-button {
	border: none;
}

.video-js .vjs-big-play-button:focus, .video-js:hover .vjs-big-play-button {
	background-color: rgba(255, 153, 0, 0);
}

.video-js .vjs-control-bar {
	background-color: rgba(255, 153, 0, 0);
}

.video-js .vjs-captions-button .vjs-icon-placeholder:before, .video-js:lang(en) .vjs-subs-caps-button .vjs-icon-placeholder:before, .video-js:lang(fr-CA) .vjs-subs-caps-button .vjs-icon-placeholder:before, .vjs-icon-captions:before {
	content: "G";
}

.vjs-resolution-button .vjs-icon-placeholder:before {
	content: 'F';
}

.vjs-menu .vjs-menu-content>* {
	color: black;
}

.vjs-text-track-display div:nth-child(1){
	width:100%!important;
}

.vjs-text-track-display {
	height: 100%;
}

.video-js .vjs-subs-caps-button+.vjs-menu .vjs-captions-menu-item .vjs-menu-item-text .vjs-icon-placeholder:before {
	font-family: VideoJS;
	content: "\f10d";
	font-size: inherit;
	line-height: inherit;
}

.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
	background: none;
}