@font-face {
	font-family: VideoJS;
	src: url(font/VideoJSInteractive.eot?#iefix) format("eot")
}

@font-face {
	font-family: VideoJS;
	src: url("font/VideoJSInteractive.woff") format("woff");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: VideoJS;
	src: url('font/VideoJSInteractive.ttf') format('truetype');
	font-weight: 400;
	font-style: normal
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before,
.video-js .vjs-play-control .vjs-icon-placeholder,
.vjs-icon-play {
	font-family: VideoJS;
	font-weight: 400;
	font-style: normal
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before,
.video-js .vjs-play-control .vjs-icon-placeholder:before,
.vjs-icon-play:before {
	content: "E"
}

.vjs-icon-play-circle {
	font-family: VideoJS;
	font-weight: 400;
	font-style: normal
}

.vjs-icon-play-circle:before {
	content: "E"
}

.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder,
.vjs-icon-pause {
	font-family: VideoJS;
	font-weight: 400;
	font-style: normal
}

.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before,
.vjs-icon-pause:before {
	content: "C"
}

.video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder,
.vjs-icon-volume-mute {
	font-family: VideoJS;
	font-weight: 400;
	font-style: normal
}

.video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before,
.vjs-icon-volume-mute:before {
	content: "D"
}

.video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder,
.vjs-icon-volume-low {
	font-family: VideoJS;
	font-weight: 400;
	font-style: normal
}

.video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before,
.vjs-icon-volume-low:before {
	content: "H"
}

.video-js .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder,
.vjs-icon-volume-mid {
	font-family: VideoJS;
	font-weight: 400;
	font-style: normal
}

.video-js .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder:before,
.vjs-icon-volume-mid:before {
	content: "H"
}

.video-js .vjs-mute-control .vjs-icon-placeholder,
.vjs-icon-volume-high {
	font-family: VideoJS;
	font-weight: 400;
	font-style: normal
}

.video-js .vjs-mute-control .vjs-icon-placeholder:before,
.vjs-icon-volume-high:before {
	content: "H"
}

.video-js .vjs-fullscreen-control .vjs-icon-placeholder,
.vjs-icon-fullscreen-enter {
	font-family: VideoJS;
	font-weight: 400;
	font-style: normal
}

.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before,
.vjs-icon-fullscreen-enter:before {
	content: "B"
}

.video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder,
.vjs-icon-fullscreen-exit {
	font-family: VideoJS;
	font-weight: 400;
	font-style: normal
}

.video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder:before,
.vjs-icon-fullscreen-exit:before {
	content: "B"
}

.video-js .vjs-play-progress:before,
.video-js .vjs-volume-level:before,
.vjs-icon-circle:before {
	content: "I";
}

.video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder,
.vjs-icon-replay {
	font-family: VideoJS;
	font-weight: 400;
	font-style: normal
}

.video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before,
.vjs-icon-replay:before {
	content: "J"
}

.video-js .vjs-control.vjs-close-button .vjs-icon-placeholder,
.vjs-icon-cancel {
	font-family: VideoJS;
	font-weight: 400;
	font-style: normal
}

.video-js .vjs-control.vjs-close-button .vjs-icon-placeholder:before,
.vjs-icon-cancel:before {
	content: "K"
}

.video-js .vjs-subs-caps-button .vjs-icon-placeholder:before,
.video-js .vjs-subtitles-button .vjs-icon-placeholder:before,
.video-js.video-js:lang(en-AU) .vjs-subs-caps-button .vjs-icon-placeholder:before,
.video-js.video-js:lang(en-GB) .vjs-subs-caps-button .vjs-icon-placeholder:before,
.video-js.video-js:lang(en-IE) .vjs-subs-caps-button .vjs-icon-placeholder:before,
.video-js.video-js:lang(en-NZ) .vjs-subs-caps-button .vjs-icon-placeholder:before,
.vjs-icon-subtitles:before {
	content: "G"
}

.vjs-resolution-button .vjs-icon-placeholder:before {
  content: 'F';
  font-family: VideoJS;
  font-weight: 400;
  font-style: normal;
  /* font-size:1.8em;line-height:1.67em */
}

/*---- Font-sizes  ----*/
.video-js .vjs-big-play-button .vjs-icon-placeholder:before{
	font-size: 3rem!important;
}

.video-js *{
	font-size: 0.8rem!important;
}
.vjs-text-track-display div{
  font-size: 1rem!important;
  /* position: absolute!important; */
  left: 0%;
  bottom: 7%!important;
}