@font-face{
	font-family: 'PatrickHand';
	src: url('fonts/PatrickHand-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: 'YanoneKaffeesatz';
	src: url('fonts/YanoneKaffeesatz-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face{
	font-family: 'YanoneKaffeesatz';
	src: url('fonts/YanoneKaffeesatz-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: 'YanoneKaffeesatz';
	src: url('fonts/YanoneKaffeesatz-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: 'YanoneKaffeesatz';
	src: url('fonts/YanoneKaffeesatz-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
.as{
	background-image: url(../fonts/)
}