.elz--1 {
  z-index: -1 !important
}

.elz-0 {
  z-index: 0 !important
}

.elz-1 {
  z-index: 1 !important
}

.elz-2 {
  z-index: 2 !important
}

.elz-3 {
  z-index: 3 !important
}

.elz-4 {
  z-index: 4 !important
}

.elz-5 {
  z-index: 5 !important
}

.elz-6 {
  z-index: 6 !important
}

.elz-7 {
  z-index: 7 !important
}

.elz-8 {
  z-index: 8 !important
}

.elz-9 {
  z-index: 9 !important
}

.elz-10 {
  z-index: 10 !important
}

.elz-11 {
  z-index: 11 !important
}

.elz-12 {
  z-index: 12 !important
}

.elz-13 {
  z-index: 13 !important
}

.elz-14 {
  z-index: 14 !important
}

.elz-15 {
  z-index: 15 !important
}

.post-01 {
  top: 1%
}

.post-02 {
  top: 2%
}

.post-03 {
  top: 3%
}

.post-04 {
  top: 4%
}

.post-05 {
  top: 5%
}

.post-06 {
  top: 6%
}

.post-07 {
  top: 7%
}

.post-08 {
  top: 8%
}

.post-09 {
  top: 9%
}

.post-10 {
  top: 10%
}

.post-11 {
  top: 11%
}

.post-12 {
  top: 12%
}

.post-13 {
  top: 13%
}

.post-14 {
  top: 14%
}

.post-15 {
  top: 15%
}

.post-16 {
  top: 16%
}

.post-17 {
  top: 17%
}

.post-18 {
  top: 18%
}

.post-19 {
  top: 19%
}

.post-20 {
  top: 20%
}

.post-21 {
  top: 21%
}

.post-22 {
  top: 22%
}

.post-23 {
  top: 23%
}

.post-24 {
  top: 24%
}

.post-25 {
  top: 25%
}

.post-26 {
  top: 26%
}

.post-27 {
  top: 27%
}

.post-28 {
  top: 28%
}

.post-29 {
  top: 29%
}

.post-30 {
  top: 30%
}

.post-31 {
  top: 31%
}

.post-32 {
  top: 32%
}

.post-33 {
  top: 33%
}

.post-34 {
  top: 34%
}

.post-35 {
  top: 35%
}

.post-36 {
  top: 36%
}

.post-37 {
  top: 37%
}

.post-38 {
  top: 38%
}

.post-39 {
  top: 39%
}

.post-40 {
  top: 40%
}

.post-41 {
  top: 41%
}

.post-42 {
  top: 42%
}

.post-43 {
  top: 43%
}

.post-44 {
  top: 44%
}

.post-45 {
  top: 45%
}

.post-46 {
  top: 46%
}

.post-47 {
  top: 47%
}

.post-48 {
  top: 48%
}

.post-49 {
  top: 49%
}

.post-50 {
  top: 50%
}

.post-51 {
  top: 51%
}

.post-52 {
  top: 52%
}

.post-53 {
  top: 53%
}

.post-54 {
  top: 54%
}

.post-55 {
  top: 55%
}

.post-56 {
  top: 56%
}

.post-57 {
  top: 57%
}

.post-58 {
  top: 58%
}

.post-59 {
  top: 59%
}

.post-60 {
  top: 60%
}

.post-61 {
  top: 61%
}

.post-62 {
  top: 62%
}

.post-63 {
  top: 63%
}

.post-64 {
  top: 64%
}

.post-65 {
  top: 65%
}

.post-66 {
  top: 66%
}

.post-67 {
  top: 67%
}

.post-68 {
  top: 68%
}

.post-69 {
  top: 69%
}

.post-70 {
  top: 70%
}

.post-71 {
  top: 71%
}

.post-72 {
  top: 72%
}

.post-73 {
  top: 73%
}

.post-74 {
  top: 74%
}

.post-75 {
  top: 75%
}

.post-76 {
  top: 76%
}

.post-77 {
  top: 77%
}

.post-78 {
  top: 78%
}

.post-79 {
  top: 79%
}

.post-80 {
  top: 80%
}

.post-81 {
  top: 81%
}

.post-82 {
  top: 82%
}

.post-83 {
  top: 83%
}

.post-84 {
  top: 84%
}

.post-85 {
  top: 85%
}

.post-86 {
  top: 86%
}

.post-87 {
  top: 87%
}

.post-88 {
  top: 88%
}

.post-89 {
  top: 89%
}

.post-90 {
  top: 90%
}

.post-91 {
  top: 91%
}

.post-92 {
  top: 92%
}

.post-93 {
  top: 93%
}

.post-94 {
  top: 94%
}

.post-95 {
  top: 95%
}

.post-96 {
  top: 96%
}

.post-97 {
  top: 97%
}

.post-98 {
  top: 98%
}

.post-99 {
  top: 99%
}

.post-100 {
  top: 100%
}

.posl-00 {
  left: 0 !important
}

.posl-01 {
  left: 1%
}

.posl-02 {
  left: 2%
}

.posl-03 {
  left: 3%
}

.posl-04 {
  left: 4%
}

.posl-05 {
  left: 5%
}

.posl-06 {
  left: 6%
}

.posl-07 {
  left: 7%
}

.posl-08 {
  left: 8%
}

.posl-09 {
  left: 9%
}

.posl-10 {
  left: 10%
}

.posl-11 {
  left: 11%
}

.posl-12 {
  left: 12%
}

.posl-13 {
  left: 13%
}

.posl-14 {
  left: 14%
}

.posl-15 {
  left: 15%
}

.posl-16 {
  left: 16%
}

.posl-17 {
  left: 17%
}

.posl-18 {
  left: 18%
}

.posl-19 {
  left: 19%
}

.posl-20 {
  left: 20%
}

.posl-21 {
  left: 21%
}

.posl-22 {
  left: 22%
}

.posl-23 {
  left: 23%
}

.posl-24 {
  left: 24%
}

.posl-25 {
  left: 25%
}

.posl-26 {
  left: 26%
}

.posl-27 {
  left: 27%
}

.posl-28 {
  left: 28%
}

.posl-29 {
  left: 29%
}

.posl-30 {
  left: 30%
}

.posl-31 {
  left: 31%
}

.posl-32 {
  left: 32%
}

.posl-33 {
  left: 33%
}

.posl-34 {
  left: 34%
}

.posl-35 {
  left: 35%
}

.posl-36 {
  left: 36%
}

.posl-37 {
  left: 37%
}

.posl-38 {
  left: 38%
}

.posl-39 {
  left: 39%
}

.posl-40 {
  left: 40%
}

.posl-41 {
  left: 41%
}

.posl-42 {
  left: 42%
}

.posl-43 {
  left: 43%
}

.posl-44 {
  left: 44%
}

.posl-45 {
  left: 45%
}

.posl-46 {
  left: 46%
}

.posl-47 {
  left: 47%
}

.posl-48 {
  left: 48%
}

.posl-49 {
  left: 49%
}

.posl-50 {
  left: 50%
}

.posl-51 {
  left: 51%
}

.posl-52 {
  left: 52%
}

.posl-53 {
  left: 53%
}

.posl-54 {
  left: 54%
}

.posl-55 {
  left: 55%
}

.posl-56 {
  left: 56%
}

.posl-57 {
  left: 57%
}

.posl-58 {
  left: 58%
}

.posl-59 {
  left: 59%
}

.posl-60 {
  left: 60%
}

.posl-61 {
  left: 61%
}

.posl-62 {
  left: 62%
}

.posl-63 {
  left: 63%
}

.posl-64 {
  left: 64%
}

.posl-65 {
  left: 65%
}

.posl-66 {
  left: 66%
}

.posl-67 {
  left: 67%
}

.posl-68 {
  left: 68%
}

.posl-69 {
  left: 69%
}

.posl-70 {
  left: 70%
}

.posl-71 {
  left: 71%
}

.posl-72 {
  left: 72%
}

.posl-73,
.posl-74 {
  left: 74%
}

.posl-75 {
  left: 75%
}

.posl-76 {
  left: 76%
}

.posl-77 {
  left: 77%
}

.posl-78 {
  left: 78%
}

.posl-79 {
  left: 79%
}

.posl-80 {
  left: 80%
}

.posl-81 {
  left: 81%
}

.posl-82 {
  left: 82%
}

.posl-83 {
  left: 83%
}

.posl-84 {
  left: 84%
}

.posl-85 {
  left: 85%
}

.posl-86 {
  left: 86%
}

.posl-87 {
  left: 87%
}

.posl-88 {
  left: 88%
}

.posl-89 {
  left: 89%
}

.posl-90 {
  left: 90%
}

.posl-91 {
  left: 91%
}

.posl-92 {
  left: 92%
}

.posl-93 {
  left: 93%
}

.posl-94 {
  left: 94%
}

.posl-95 {
  left: 95%
}

.posl-96 {
  left: 96%
}

.posl-97 {
  left: 97%
}

.posl-98 {
  left: 98%
}

.posl-99 {
  left: 99%
}

.posl-100 {
  left: 100%
}

.posr-01 {
  right: 1%
}

.w-00 {
  width: 0%
}

.w-01 {
  width: 1%
}

.w-02 {
  width: 2%
}

.w-03 {
  width: 3%
}

.w-04 {
  width: 4%
}

.w-05 {
  width: 5%
}

.w-06 {
  width: 6%
}

.w-07 {
  width: 7%
}

.w-08 {
  width: 8%
}

.w-09 {
  width: 9%
}

.w-10 {
  width: 10%
}

.w-11 {
  width: 11%
}

.w-12 {
  width: 12%
}

.w-13 {
  width: 13%
}

.w-14 {
  width: 14%
}

.w-15 {
  width: 15%
}

.w-16 {
  width: 16%
}

.w-17 {
  width: 17%
}

.w-18 {
  width: 18%
}

.w-19 {
  width: 19%
}

.w-20 {
  width: 20%
}

.w-21 {
  width: 21%
}

.w-22 {
  width: 22%
}

.w-23 {
  width: 23%
}

.w-24 {
  width: 24%
}

.w-25 {
  width: 25%
}

.w-26 {
  width: 26%
}

.w-27 {
  width: 27%
}

.w-28 {
  width: 28%
}

.w-29 {
  width: 29%
}

.w-30 {
  width: 30%
}

.w-31 {
  width: 31%
}

.w-32 {
  width: 32%
}

.w-33 {
  width: 33%
}

.w-34 {
  width: 34%
}

.w-35 {
  width: 35%
}

.w-36 {
  width: 36%
}

.w-37 {
  width: 37%
}

.w-38 {
  width: 38%
}

.w-39 {
  width: 39%
}

.w-40 {
  width: 40%
}

.w-41 {
  width: 41%
}

.w-42 {
  width: 42%
}

.w-43 {
  width: 43%
}

.w-44 {
  width: 44%
}

.w-45 {
  width: 45%
}

.w-46 {
  width: 46%
}

.w-47 {
  width: 47%
}

.w-48 {
  width: 48%
}

.w-49 {
  width: 49%
}

.w-50 {
  width: 50%
}

.w-51 {
  width: 51%
}

.w-52 {
  width: 52%
}

.w-53 {
  width: 53%
}

.w-54 {
  width: 54%
}

.w-55 {
  width: 55%
}

.w-56 {
  width: 56%
}

.w-57 {
  width: 57%
}

.w-58 {
  width: 58%
}

.w-59 {
  width: 59%
}

.w-60 {
  width: 60%
}

.w-61 {
  width: 61%
}

.w-62 {
  width: 62%
}

.w-63 {
  width: 63%
}

.w-64 {
  width: 64%
}

.w-65 {
  width: 65%
}

.w-66 {
  width: 66%
}

.w-67 {
  width: 67%
}

.w-68 {
  width: 68%
}

.w-69 {
  width: 69%
}

.w-70 {
  width: 70%
}

.w-71 {
  width: 71%
}

.w-72 {
  width: 72%
}

.w-73 {
  width: 73%
}

.w-74 {
  width: 74%
}

.w-75 {
  width: 75%
}

.w-76 {
  width: 76%
}

.w-77 {
  width: 77%
}

.w-78 {
  width: 78%
}

.w-79 {
  width: 79%
}

.w-80 {
  width: 80%
}

.w-81 {
  width: 81%
}

.w-82 {
  width: 82%
}

.w-83 {
  width: 83%
}

.w-84 {
  width: 84%
}

.w-85 {
  width: 85%
}

.w-86 {
  width: 86%
}

.w-87 {
  width: 87%
}

.w-88 {
  width: 88%
}

.w-89 {
  width: 89%
}

.w-90 {
  width: 90%
}

.w-91 {
  width: 91%
}

.w-92 {
  width: 92%
}

.w-93 {
  width: 93%
}

.w-94 {
  width: 94%
}

.w-95 {
  width: 95%
}

.w-96 {
  width: 96%
}

.w-97 {
  width: 97%
}

.w-98 {
  width: 98%
}

.w-99 {
  width: 99%
}

.w-100 {
  width: 100%
}

.h-00 {
  height: 0%
}

.h-01 {
  height: 1%
}

.h-02 {
  height: 2%
}

.h-03 {
  height: 3%
}

.h-04 {
  height: 4%
}

.h-05 {
  height: 5%
}

.h-06 {
  height: 6%
}

.h-07 {
  height: 7%
}

.h-08 {
  height: 8%
}

.h-09 {
  height: 9%
}

.h-10 {
  height: 10%
}

.h-11 {
  height: 11%
}

.h-12 {
  height: 12%
}

.h-13 {
  height: 13%
}

.h-14 {
  height: 14%
}

.h-15 {
  height: 15%
}

.h-16 {
  height: 16%
}

.h-17 {
  height: 17%
}

.h-18 {
  height: 18%
}

.h-19 {
  height: 19%
}

.h-20 {
  height: 20%
}

.h-21 {
  height: 21%
}

.h-22 {
  height: 22%
}

.h-23 {
  height: 23%
}

.h-24 {
  height: 24%
}

.h-25 {
  height: 25%
}

.h-26 {
  height: 26%
}

.h-27 {
  height: 27%
}

.h-28 {
  height: 28%
}

.h-29 {
  height: 29%
}

.h-30 {
  height: 30%
}

.h-31 {
  height: 31%
}

.h-32 {
  height: 32%
}

.h-33 {
  height: 33%
}

.h-34 {
  height: 34%
}

.h-35 {
  height: 35%
}

.h-36 {
  height: 36%
}

.h-37 {
  height: 37%
}

.h-38 {
  height: 38%
}

.h-39 {
  height: 39%
}

.h-40 {
  height: 40%
}

.h-41 {
  height: 41%
}

.h-42 {
  height: 42%
}

.h-43 {
  height: 43%
}

.h-44 {
  height: 44%
}

.h-45 {
  height: 45%
}

.h-46 {
  height: 46%
}

.h-47 {
  height: 47%
}

.h-48 {
  height: 48%
}

.h-49 {
  height: 49%
}

.h-50 {
  height: 50%
}

.h-51 {
  height: 51%
}

.h-52 {
  height: 52%
}

.h-53 {
  height: 53%
}

.h-54 {
  height: 54%
}

.h-55 {
  height: 55%
}

.h-56 {
  height: 56%
}

.h-57 {
  height: 57%
}

.h-58 {
  height: 58%
}

.h-59 {
  height: 59%
}

.h-60 {
  height: 60%
}

.h-61 {
  height: 61%
}

.h-62 {
  height: 62%
}

.h-63 {
  height: 63%
}

.h-64 {
  height: 64%
}

.h-65 {
  height: 65%
}

.h-66 {
  height: 66%
}

.h-67 {
  height: 67%
}

.h-69 {
  height: 69%
}

.h-70 {
  height: 70%
}

.h-71 {
  height: 71%
}

.h-72 {
  height: 72%
}

.h-73 {
  height: 73%
}

.h-74 {
  height: 74%
}

.h-75 {
  height: 75%
}

.h-76 {
  height: 76%
}

.h-77 {
  height: 77%
}

.h-78 {
  height: 78%
}

.h-79 {
  height: 79%
}

.h-80 {
  height: 80%
}

.h-81 {
  height: 81%
}

.h-82 {
  height: 82%
}

.h-83 {
  height: 83%
}

.h-84 {
  height: 84%
}

.h-85 {
  height: 85%
}

.h-86 {
  height: 86%
}

.h-87 {
  height: 87%
}

.h-88 {
  height: 88%
}

.h-89 {
  height: 89%
}

.h-90 {
  height: 90%
}

.h-91 {
  height: 91%
}

.h-92 {
  height: 92%
}

.h-93 {
  height: 93%
}

.h-94 {
  height: 94%
}

.h-95 {
  height: 95%
}

.h-96 {
  height: 96%
}

.h-97 {
  height: 97%
}

.h-98 {
  height: 98%
}

.h-99 {
  height: 99%
}

.h-100 {
  height: 100%
}

.tal-l {
  text-align: left !important
}

.tal-r {
  text-align: right !important
}

.tal-c {
  text-align: center !important
}

.lh-10 {
  line-height: 1 !important
}

.lh-11 {
  line-height: 1.1 !important
}

.lh-12 {
  line-height: 1.2 !important
}

.lh-13 {
  line-height: 1.3 !important
}

.lh-14 {
  line-height: 1.4 !important
}

.lh-15 {
  line-height: 1.5 !important
}

.lh-16 {
  line-height: 1.6 !important
}

.lh-17 {
  line-height: 1.7 !important
}

.lh-18 {
  line-height: 1.8 !important
}

.lh-19 {
  line-height: 1.9 !important
}

.lh-20 {
  line-height: 2 !important
}

.lh-21 {
  line-height: 2.1 !important
}

.lh-22 {
  line-height: 2.2 !important
}

.lh-23 {
  line-height: 2.3 !important
}

.lh-24 {
  line-height: 2.4 !important
}

.fw-200 {
  font-weight: 200 !important
}

.fw-300 {
  font-weight: 300 !important
}

.fw-400 {
  font-weight: 400 !important
}

.fw-600 {
  font-weight: 600 !important
}

.fs-10 {
  font-size: 10px !important
}

.fs-18 {
  font-size: 18px !important
}

.fs-19 {
  font-size: 19px !important
}

.fs-20 {
  font-size: 20px !important
}

.fs-21 {
  font-size: 21px !important
}

.fs-22 {
  font-size: 22px;
}

.fs-23 {
  font-size: 23px !important
}

.fs-24 {
  font-size: 24px !important
}

.fs-25 {
  font-size: 25px !important
}

.fs-26 {
  font-size: 26px !important
}

.fs-27 {
  font-size: 27px !important
}

.fs-28 {
  font-size: 28px !important
}
.fs-29 {
  font-size: 29px !important
}
.fs-30 {
  font-size: 30px !important
}
.fs-31 {
  font-size: 31px !important
}
.fs-32 {
  font-size: 32px !important
}
.fs-33 {
  font-size: 33px !important
}
.fs-34 {
  font-size: 34px !important
}
.fs-35 {
  font-size: 35px !important
}
.fs-36 {
  font-size: 36px !important
}
.fs-37 {
  font-size: 37px !important
}
.fs-38 {
  font-size: 38px !important
}
.fs-39 {
  font-size: 39px !important
}
.fs-40 {
  font-size: 40px !important
}
.fs-41 {
  font-size: 41px !important
}
.fs-42 {
  font-size: 42px !important
}
.fs-43 {
  font-size: 43px !important
}
.fs-44 {
  font-size: 44px !important
}
.fs-45 {
  font-size: 45px !important
}
.fs-46 {
  font-size: 46px !important
}
.fs-47 {
  font-size: 47px !important
}
.fs-48 {
  font-size: 48px !important
}
.fs-49 {
  font-size: 49px !important
}
.fs-50 {
  font-size: 50px !important
}
.fs-51 {
  font-size: 51px !important
}


.fsr-01{
  font-size: 0.1rem!important;
}
.fsr-02{
  font-size: 0.2rem!important;
}
.fsr-03{
  font-size: 0.3rem!important;
}
.fsr-04{
  font-size: 0.4rem!important;
}
.fsr-05{
  font-size: 0.5rem!important;
}
.fsr-06{
  font-size: 0.6rem!important;
}
.fsr-07{
  font-size: 0.7rem!important;
}
.fsr-08{
  font-size: 0.8rem!important;
}
.fsr-09{
  font-size: 0.9rem!important;
}
.fsr-10{
  font-size: 1.0rem!important;
}

.fsr-11{
  font-size: 1.1rem!important;
}
.fsr-12{
  font-size: 1.2rem!important;
}
.fsr-13{
  font-size: 1.3rem!important;
}
.fsr-14{
  font-size: 1.4rem!important;
}
.fsr-15{
  font-size: 1.5rem!important;
}
.fsr-16{
  font-size: 1.6rem!important;
}
.fsr-17{
  font-size: 1.7rem!important;
}
.fsr-18{
  font-size: 1.8rem!important;
}
.fsr-19{
  font-size: 1.9rem!important;
}
.fsr-20{
  font-size: 2.0rem!important;
}

.fsr-21{
  font-size: 2.1rem!important;
}
.fsr-22{
  font-size: 2.2rem!important;
}
.fsr-23{
  font-size: 2.3rem!important;
}
.fsr-24{
  font-size: 2.4rem!important;
}
.fsr-25{
  font-size: 2.5rem!important;
}
.fsr-26{
  font-size: 2.6rem!important;
}
.fsr-27{
  font-size: 2.7rem!important;
}
.fsr-28{
  font-size: 2.8rem!important;
}
.fsr-29{
  font-size: 2.9rem!important;
}
.fsr-30{
  font-size: 3.0rem!important;
}

.fsr-31{
  font-size: 3.1rem!important;
}
.fsr-32{
  font-size: 3.2rem!important;
}
.fsr-33{
  font-size: 3.3rem!important;
}
.fsr-34{
  font-size: 3.4rem!important;
}
.fsr-35{
  font-size: 3.5rem!important;
}
.fsr-36{
  font-size: 3.6rem!important;
}
.fsr-37{
  font-size: 3.7rem!important;
}
.fsr-38{
  font-size: 3.8rem!important;
}
.fsr-39{
  font-size: 3.9rem!important;
}
.fsr-40{
  font-size: 4.0rem!important;
}

.fsr-41{
  font-size: 4.1rem!important;
}
.fsr-42{
  font-size: 4.2rem!important;
}
.fsr-43{
  font-size: 4.3rem!important;
}
.fsr-44{
  font-size: 4.4rem!important;
}
.fsr-45{
  font-size: 4.5rem!important;
}
.fsr-46{
  font-size: 4.6rem!important;
}
.fsr-47{
  font-size: 4.7rem!important;
}
.fsr-48{
  font-size: 4.8rem!important;
}
.fsr-49{
  font-size: 4.9rem!important;
}
.fsr-50{
  font-size: 5.0rem!important;
}

.fsr-51{
  font-size: 5.1rem!important;
}
.fsr-52{
  font-size: 5.2rem!important;
}
.fsr-53{
  font-size: 5.3rem!important;
}
.fsr-55{
  font-size: 5.5rem!important;
}
.fsr-55{
  font-size: 5.5rem!important;
}
.fsr-56{
  font-size: 5.6rem!important;
}
.fsr-57{
  font-size: 5.7rem!important;
}
.fsr-58{
  font-size: 5.8rem!important;
}
.fsr-59{
  font-size: 5.9rem!important;
}
.fsr-60{
  font-size: 6.0rem!important;
}

.fsr-61{
  font-size: 6.1rem!important;
}
.fsr-62{
  font-size: 6.2rem!important;
}
.fsr-63{
  font-size: 6.3rem!important;
}
.fsr-65{
  font-size: 6.5rem!important;
}
.fsr-65{
  font-size: 6.5rem!important;
}
.fsr-66{
  font-size: 6.6rem!important;
}
.fsr-67{
  font-size: 6.7rem!important;
}
.fsr-68{
  font-size: 6.8rem!important;
}
.fsr-69{
  font-size: 6.9rem!important;
}
.fsr-70{
  font-size: 7.0rem!important;
}

.pos-rev {
  position: relative
}

.pos-abs {
  position: absolute
}

.cur-poi {
  cursor: pointer
}

.cur-auto {
  cursor: auto
}