
#smar_GUI{
	position: absolute;
	width: 100%;
	height: 100%;
}

#smar_GUI *{
	font-family: interactiveFont;
}

#smar_sideElements{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	width: 5%;
	margin-left: 0.5%;
	height: 100%;
}
#smar_sideElements *{
  z-index:15;
  pointer-events:all;
  outline: none;
	width: 100%;
	height: 5%;
	margin-top: 20%;
  position: relative;
	display: block;
	border: none;
	cursor: pointer;
	overflow: visible;
	background:transparent;
}

#smar_mainElements {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position:absolute;
}

#smar_mainElements *{
  z-index:15;
	pointer-events:all;
	cursor: pointer;
	top: 46.5%;
	position: relative;
	border-radius: 50% 50%;
	width: 4%;
	height: 7%;
	transform: translate3d(0,0,0);
	background:transparent;
}
#smar_sideElements button:before{
	font-size:0.8rem;
}

#smar_mainElements button:before{
	font-size: 0.8rem;
}

#smar_Next{
	float:right;
	right: 1%;
}
#smar_Back{
	float:left;
	left: 1%;
}
#smar_Back:hover:before{
	transition: 0.5s left ease;
	position: absolute;
	top: 25%;
	left:15%;
}
#smar_Back:before{	
	transition: 0.5s left ease;
	position: absolute;
	top: 25%;
	left:22%;
}
#smar_Next:hover:before{
	transition: 0.5s left ease;
	position: absolute;
	top: 25%;
	left:37%;
}
#smar_Next:before{	
	transition: 0.5s left ease;
	position: absolute;
	top: 25%;
	left:30%;
}

#smar_Back:active, #smar_Next:active{
	transform: scale(0.9);
}
/*Exception for the replay button*/
#smar_Replay{
	border: none!important;
	float: left;
	left: 1%;
	margin-left: -0.6%;
	width: 5%;
}
#smar_Replay:before{
	font-size: 1.75rem!important;
}

#smar_Back:before{
	content: "\43";
}
#smar_Next:before{
	content: "\44";
}
#smar_Home:before{
	content:"\45";
}
#smar_Info:before{
	content:"\50";
}
#smar_sub_Play:before{
	content:"\51";
}
#smar_sub_Pause:before{
	content:"\41";
	position: relative;
	left: 5%;
}
#smar_Replay:before{
	content: "\4a";
}
#smar_Menu:before{
	content:"\4f";
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	#smar_Replay{
		height: 8%;
	}	
}