/*---Info-Overlay---*/
#Info_Overlay {
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	position: absolute;
	z-index: 999;
	text-align: left;
	padding: 3% 4%;
	box-sizing: border-box;
	font-size: 0.8rem;
	pointer-events: all;
	cursor: auto;
	display: none;
}

#Info_Overlay h2 {
	position: relative !important;
}

#Info_Closer {
	top: 4%;
	left: 64%;
	width: 50%;
	height: 5%;
	position: absolute;
	pointer-events: all;
	display: block;
	cursor: pointer;
}

#Info_Closer:hover:after {
	font-family: interactive;
}

#Info_Closer:before {
	display: none;
}

#Info_Closer:after {
	content: "T";
	font-size: 0.8rem;
	font-family: interactive;
	margin-left: 5%;
	top: 15%;
	position: relative;
}

#Info_Overlay p {
	font-size: 25px;
	width: unset;
	top: 20px;
	right: 20px;
}

#Info_Overlay div.left_column {
	width: 47%;
	float: left;
	box-sizing: border-box;
	height: 100%;
	margin-top: 1%;
}

#Info_Overlay div.right_column {
	width: 47%;
	float: left;
	box-sizing: border-box;
	margin-left: 6%;
	height: 100%;
	margin-top: 1%;
}


#Info_Overlay .row :first-child {
	position: absolute;
	float: left;
	font-family: interactiveFont;
	font-size: 1.5rem;
}

#Info_Overlay .row :nth-child(2) {
	border: inherit;
	padding-top: 2%;
	width: 82%;
	float: right;
}

#Info_Overlay .row {
	border: inherit;
	width: 100%;
	height: 5%;
	margin-bottom: 13%;
	display: inline-block;
}

#Info_Overlay .left_column .row {
	border: inherit;
	width: 100%;
	margin-bottom: 13%;
	display: inline-block;
}