/*Overrides*/
.reveal section img{
	margin: 0 !important;
}

.reveal .slides{
	top:0!important;
	left:0!important;
}

.reveal .slides .smar_container {
	width: 100%;
	height: 100%;
	padding: 4.4% 10% 4.4% 10%;
	box-sizing: border-box;
}

.reveal{
	width: 100vw;
  height: 56.25vw;
  max-height: 100vh;
  max-width: 177.78vh;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: visible;
  box-sizing: border-box;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	margin: 0 0 10px 0;
	color: #222;
	font-family: YanoneKaffeesatz;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: normal;
	text-transform: none;
	text-shadow: none;
	word-wrap: break-word;
	position: relative;
}

.img-full-bg{
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

#guidelines{
	display: none;
}

.flipH {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.flipV {
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipV;
	-ms-filter: "FlipV";
}

/*IE11*/
/* _:-ms-fullscreen, :root 	.grid{		overflow-y: scroll;	} */
/*IE10*/
/* _:-ms-lang(x), .mc-answer {background-size: 100% 100%!important;background-position: -230px 0px!important;} */

.scaleonhover{
	transform: scale(1);
	transition: all 1s ease;
}

.scaleonhover:hover{
	transform: scale(1.2);
	transition: all 1s ease;
}

.si_Button{
	cursor: pointer;
}

section img, section div{
	position: absolute;
}

.si_Button img{
	left: 0;
}

.draggable img{
	left: 0;
	top:0;
}

.mc-answer:hover, .sc-answer:hover{
	border-radius: 5px;
}

.button_over, .button_down{
	display: none;
}

.button_up{
	z-index: 3;
}

.animateme-1s{
	transition: all 1s ease;
}

.draggable{
	cursor: pointer;
}

.shrink {
	transform: scale(0);
	-ms-transform: scale(0);
	transition: all .2s ease-in-out;
}

.ie9hack{
	width:100%;
	height:100%;
	z-index: 999;
	top:0;
	left:0;
	position:absolute;
}

.shadow {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}