@font-face {
  font-family: 'interactiveFont';
  src: url('fonts/interactive.eot');
  src: url('fonts/interactive.eot?#iefix') format('embedded-opentype'),
       url('fonts/interactive.woff') format('woff'),
       url('fonts/interactive.ttf') format('truetype'),
       url('fonts/interactive.svg#interactive') format('svg');
  font-weight: normal;
  font-style: normal;
}